/* Base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  .accordion {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .content img{
   margin-left: 20%;
  }
  .content:active {
    filter:opacity(0.4);
    transition: all 1s;
  }
  .accordion .icon{
    visibility: hidden;
}
.accordion:hover .icon{
    visibility: visible;
    transition: all 1s;
}
  .accordion:hover{
    color: rgb(23, 23, 219);
    transition: all 1s;
  }


  .accordion-item {
    margin: 1rem;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .accordion-item.active {
    height: auto;
  }
  
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
  }
  
  .accordion-title:hover {
    background-color: #edeaea;
    transition: all 1s;
  }
  
  .accordion-title h2 {
    font-size: 2rem;
    margin-right: 1rem;
  }
  
  .accordion-title .icon {
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
  }
  
  .accordion-item:active .icon {
    transform: rotate(45deg);
    transition: all 0.5s;
  }
  
  /* .accordion-content {
    padding: 1rem;
    transition: opacity 0.3s ease-in-out;
  } */
  
  .accordion-item:not(.active) .accordion-content {
    opacity: 0;
    height: 0;
  }
  /* .accordion-item:active .accordion-content {
    opacity: 1;
    height: 9rem;
    transition: ease-in-out;

} */
  .accordion-item:active .accordion-content {
    opacity: 1;
    height: auto;
 
  }
  
  @media screen and (min-width: 768px) {
    body {
      font-size: 18px;
    }
    
    .accordion-title h2 {
      font-size: 2.5rem;
    }
    
    .accordion-title .icon {
      font-size: 2.5rem;
    }
  }





  .hidecontent {
    display: none;
}

.accordion label {
  box-shadow:0 0 20px #d4d4d4;
  display: flex;
  justify-content: space-between;
  padding: 8px 22px;
  margin: 20px 0px 1px 0px;
  cursor: pointer;
  background: #5f75a4;
  color: #FFF;
  transition: ease .5s;
  font-size: 2rem;
}
.accordion label:hover {
  background: #5f75ff;
}
.content {
  box-shadow:0 0 20px #d4d4d4;
  background: #ffff;
  padding: 10px 25px;
  border: 1px solid #d4d4d4;
  margin: -1 0 0 0;
}
.accordion input:checked + label + .content {
  display: block;
  webkit-animation: fadeIn 0.5s ease-out;
  -moz-animation: fadeIn 0.5s ease-out;
  -o-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}
@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
  